* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.headline {
  background: blue;
  height: 10%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.app {
font-size: 2rem;
}

.btn {
  display: flex;
  justify-content: space-around;
}
.refreshBtn {
  background: url(/images/ic_refresh_white_24px.svg) center center no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}
.addLocBtn {
  margin-left: 16px;
  background: url(/images/ic_add_white_24px.svg) center center no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}
.place {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.place .location {
  font-size: 1.75rem;
  font-weight: bold;
}
.place .date {
  font-size: 1.5rem;
  font-weight: bold;
}

.current{
  display: flex;
  justify-content: space-around;
}
.visual {
  display: flex;
  flex-flow: column;
}
.nature {
  display: flex;
  align-self: center;
  font-size: 1.25rem;
  font-style: italic;
}
.description {
  display: flex;
  justify-content: space-around;
}
.description .icon {
  background: url(/images/wind_black.png) center center no-repeat;
  background-size: cover;
}
.description .icon.clear-day {
  background-image: url("/images/clear.png"); }
.description .icon.clear-night {
  background-image: url("/images/clear.png"); }
.description .icon.rain {
  background-image: url("/images/rain.png"); }
.description .icon.snow {
  background-image: url("/images/snow.png"); }
.description .icon.sleet {
  background-image: url("/images/sleet.png"); }
.description .icon.windy {
  background-image: url("/images/wind.png"); }
.description .icon.fog {
  background-image: url("/images/fog.png"); }
.description .icon.cloudy {
  background-image: url("/images/cloudy.png"); }
.description .icon.partly-cloudy-day {
  background-image: url("/images/partly-cloudy.png"); }
.description .icon.partly-cloudy-night {
  background-image: url("/images/partly-cloudy.png"); }
.description .icon.thunderstorms {
  background-image: url("/images/thunderstorm.png"); }

/* Temparature alignment needs to changed based on screen size */
.description .temprature {
  font-size: 2.5rem;
  padding-left: 5px;
}
/* This need to change based on sreen size */
.stats {
font-size: 1.25rem;
align-self: center;
}

.forecast{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.oneday {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 400px) {
  .current {
    flex-flow: column;
  }
  .description .icon {
    width: 96px;
    height: 96px;
  }
  .description .temprature {
    align-self: center;
  }
  .stats {
    align-self: center;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .description .icon {
    width: 128px;
    height: 128px;
  }
  .oneday {
    width: 33%;
  }
}
@media only screen and (min-width: 961px) {
  .description .icon {
    width: 128px;
    height: 128px;
  }
  .oneday {
    width: auto;
  }
}
